*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

#container{
    /* border: solid; */
    margin: 50px;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#playBox{
     
    height: 80%;
    width: 60%;
}

#playList{
    /* border: solid blue; */
    height: 80%;
    width: 25%;
}

#playBox video{
    height: 100%;
    width: 100%;
}